/* .gallery-container {
    background-color: var(--light-grey);
} */

h1 {
    color: var(--gold);
    font-size: 36pt;
    font-family: Oswald;
    font-weight: 200;
}

.spinner-border {
    width: 65px;
    height: 65px;
    color: var(--light-blue);
}