
<div class="container-fluid header"></div>


<div class="container-fluid" style="background-color:#f5f5f5; padding: 3% 5% 3% 3%;">

    <div class="row">  
        <div *ngIf="!isMobile" class="col-4"></div>
        <div class="col">
            <h1 style="text-align: left; color:#1663be; font-family: Raleway; font-weight; 700;"> RUSH </h1>
        </div>
    </div>

    <div class="row">
        <div *ngIf="!isMobile" class="col-4" align="center" style="align-self: baseline;">
            <img [src]='rushCardImage'>
        </div>

        <div class="col" align="center">
            <div *ngIf="false">
            <p contentEditable (blur)="onBlur($event.target)" *ngFor="let line of rushBlurb | keyvalue" data-id={{line.key}}> {{line.value}} </p>
            <button class="btn btn-primary" style="background: #007bff; margin: 5px;" (click)="onAddParagraph()">Add Paragraph</button>
            <button class="btn btn-primary" style="background: #007bff; margin: 5px;" (click)="onRemoveParagraph()">Remove Last Paragraph</button>
            <button class="btn btn-primary" style="background: #007bff; margin: 5px;" (click)="onSaveChanges()">Save Changes</button>
            </div>

            <div *ngIf="true">
                <p *ngFor="let line of rushBlurb | keyvalue" data-id={{line.key}}> {{line.value}} </p>
            </div>

            <p style="margin-top: 1rem;">
                <span>To learn more about Greek Life at UD, visit 
                    <span style="text-decoration:underline">
                        <a href="https://sites.udel.edu/fsll/" target="_blank" rel="noopener">this link</a>
                    </span>
                </span>
            </p>
            <p>
                <span>To learn more about IFC Rush, visit 
                    <span style="text-decoration:underline">
                        <a href="https://sites.udel.edu/fsll/recruitment/" target="_blank" rel="noopener">click here</a>
                    </span>
                </span>
            </p>
        </div>

    </div>

</div>


<div class="container-fluid" style="background-color: var(--dark-blue); padding: 3% 17%;">
    <span class="rush-form-title" [style.margin-top]="isMobile == true ? '30px' : '0'">
        Interested In Rushing Delaware AEPI?
    </span>

    <!-- rush interest form - desktop -->
    <div *ngIf="!isMobile" class="row">
        <div class="col-3">
            <app-custom-input [(inputModel)]="name" [type]="'name'"></app-custom-input>
        </div>

        <div class="col-3">
            <app-custom-input [(inputModel)]="email" [type]="'email'" (validEmail)="isEmailValid($event)"></app-custom-input>
        </div> 

        <div class="col-3">
            <app-custom-input [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
        </div> 

        <div class="col-3">
            <div class="wrap-btn">
                <div class="bgbtn"></div>
                <button class="btn1" (click)="submitRushInterest()">Submit</button>
            </div>
        </div>

    </div>
    <!-- end desktop view -->



    <!-- different layout for mobile -->
    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="name" [type]="'name'"></app-custom-input>
    </div>
    
    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="email" [type]="'email'"></app-custom-input>
    </div>

    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
    </div>

    <div *ngIf="isMobile" class="row" style="justify-content: center; margin-bottom: 30px;">
        <div class="wrap-btn">
            <div class="bgbtn"></div>
            <button class="btn1" (click)="submitRushInterest()">Submit</button>
        </div>
    </div>
    <!-- End mobile layout -->

    

</div>
