
<div class="container-fluid border" style="background-color:#f5f5f5; padding: 3% 5% 3% 3%; margin: 3% 10%; width: 80%">

    <div class="row">  
        <div class="col-4" [style.display]="isMobile == true ? 'none' : 'block'"></div>
        <div class="col">
            <h1 style="text-align: left; color:#1663be; font-family: Raleway; font-weight; 700;"> RUSH </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4" align="center" style="align-self: baseline;" [style.display]="isMobile == true ? 'none' : 'block'">
            <img src='https://static.wixstatic.com/media/0d4090_2753615274bc45c5b2beeb1e0ecaefff~mv2.jpeg/v1/fill/w_310,h_367,al_c,q_80,usm_0.66_1.00_0.01/IMG_5565.webp'>
        </div>

        <div class="col" align="center">
            <p> We encourage you to rush and learn more about our chapter. Being in AEPi strengthens character, develops leadership skills necessary to leave college prepared for the next phase of life and offers its Brothers a great college experience. Not only do you leave this fraternity better prepared for the world, you do so with a band of brothers to support you and help you succeed.  Throughout AEPi’s history, we have nurtured leaders in business, education, government and more. A goal of our chapter is to help each Brother become the best version of themselves that they can be.  </p>
            <p> If you are interested in joining our chapter, reach out to our Rush Chair Max Scheiner, listed below. We are excited to welcome every rushee and look forward to getting to know you!</p>
            <p> </p>
            <p> Rush Chair Max Scheiner: (302) - 300 - 6982</p>
            <p>
                <span>To learn more about Greek Life at UD, visit 
                    <span style="text-decoration:underline">
                        <a href="https://sites.udel.edu/fsll/" target="_blank" rel="noopener">this link</a>
                    </span>
                </span>
            </p>
            <p>
                <span>To learn more about IFC Rush, visit 
                    <span style="text-decoration:underline">
                        <a href="https://sites.udel.edu/fsll/recruitment/" target="_blank" rel="noopener">click here</a>
                    </span>
                </span>
            </p>
        </div>

    </div>

</div>


<div class="container" style="margin-bottom: 30px;">
    <span class="rush-form-title" [style.margin-top]="isMobile == true ? '30px' : '0'">
        Interested In Rushing Delaware AEPI?
    </span>

    <!-- rush interest form - desktop -->
    <div class="row" [style.display]="isMobile == true ? 'none' : 'flex'">
        <div class="col-3">
            <app-custom-input [(inputModel)]="name" [type]="'name'"></app-custom-input>
        </div>

        <div class="col-3">
            <app-custom-input [(inputModel)]="email" [type]="'email'" (validEmail)="isEmailValid($event)"></app-custom-input>
        </div> 

        <div class="col-3">
            <app-custom-input [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
        </div> 

        <div class="col-3">
            <div class="wrap-btn">
                <div class="bgbtn"></div>
                <button class="btn" (click)="submitRushInterest()">Submit</button>
            </div>
        </div>

    </div>
    <!-- end desktop view -->



    <!-- different layout for mobile -->
    <div class="row" [style.display]="isMobile == false ? 'none' : 'flex'" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="name" [type]="'name'"></app-custom-input>
    </div>
    
    <div class="row" [style.display]="isMobile == false ? 'none' : 'flex'" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="email" [type]="'email'"></app-custom-input>
    </div>

    <div class="row" [style.display]="isMobile == false ? 'none' : 'flex'" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
    </div>

    <div class="row" [style.display]="isMobile == false ? 'none' : 'flex'" style="justify-content: center;">
        <div class="wrap-btn">
            <div class="bgbtn"></div>
            <button class="btn" (click)="submitRushInterest()">Submit</button>
        </div>
    </div>
    <!-- End mobile layout -->

    

</div>
