@import '../custom-input/custom-input.component.css';

app-custom-input.mobile {
  width: 100%; 
  margin: 0 10%;
}

::ng-deep input.input2 {
  background: none !important;
  color: white !important;
}

::ng-deep span.focus-input2 {
  color: white !important;
}

p {
  text-align: left;
  font-family: Raleway;
  font-size: 14pt;
}

img {
  flex: 1;
  height: 100%;
  object-fit: contain;
  max-width: -webkit-fill-available;
}

  
.rush-form-title {
  display: block;
  font-family: Raleway;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}

.header {
  background: var(--light-blue); 
  background: -webkit-linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../assets/720_cropped2.jpg"); 
  background: linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../assets/alumn_active_c.JPG"); 
}
