@import '../custom-input/custom-input.component.css';

app-custom-input.mobile {
  width: 100%; 
  margin: 0 10%;
}

p {
  text-align: left;
  font-family: Raleway;
  font-size: 14pt;
}

img {
  flex: 1;
  height: 100%;
  object-fit: contain;
  max-width: -webkit-fill-available;
}

  
.rush-form-title {
  display: block;
  font-family: Raleway;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}
