

<div class="modal-header p-2">
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')" aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <img class="rounded-circle" src={{image}}>
        </div>

        <div class="row justify-content-center">
            <p class="name"> {{brother_name}}</p>
        </div>

        <div *ngIf="board" class="row justify-content-center">
            <p>{{board}}</p>
        </div>

        <div class="row justify-content-center">
            <p> Major: {{major}}</p>
        </div>

        <div class="row justify-content-center">
            <p> Current Year: {{year}}</p>
        </div>
    </div>
</div>
  