p {
    margin: 3px;
    font-family: var(--primary-font);
    text-align:center;
}

p.name {
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
}

.close {
    margin: 1px;
    padding: 0.5rem;
}

.modal-header{
    justify-content: right;
}

img {
    width: 100px;
}