<div class="pb-5 mb-5">
    <div class="container-fluid banner" [style.padding] = "isMobile == true ? '10%' : '5% 30%'">

        <h1> Contact Information </h1>

        <div class="row">

            <div *ngFor="let member of contacts" class="col" align="center">
                <img class="contactImage" src="https://drive.google.com/uc?export=view&id={{member.image}}">
                <p class="contactName">{{member.name}}</p>
                <p class="contactPosition">{{member.position}}</p>   
                <p class="contactPosition">{{member.phone}}</p>    
            </div>

        </div>
        
    </div>
    
    <!-- <h3> Email Us: aepirhodeuteron@gmail.com </h3> -->

    <div class="contact-container" [style.width]="isMobile == true ? '100%' : '790px'">
        <form class="contact-form validate-form">
        
            <span class="contact-form-title"> Email Us </span>
            
            <app-custom-input class=""  [type]="'name'" [(inputModel)]="name"></app-custom-input>

            <app-custom-input class=""  [type]="'email'" [(inputModel)]="email" (validEmail)="isEmailValid($event)"> </app-custom-input>

            <div class='input-container'>
                <textarea class="custom-input" type="text" name="message" [(ngModel)]="message" (blur)="updateMessage($event)"></textarea>
                <span class="focus-input" data-placeholder="MESSAGE"></span>
            </div>
        

            <div class="btn-container">
                <div class="bgbtn"></div>
                <button class="custom-button" (click)="submitContactForm()">Submit</button>
            </div>

        </form>
    </div>

</div>