@import '../../components/custom-input/custom-input.component.css';

/* Contact Info Banner */
.banner {
  background-color:var(--dark-blue);
} 

h1 {
    color: var(--gold);
    font-size: 36pt;
    margin-bottom: 50px;
    font-family: Raleway;
    font-weight: 200;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 20px 0px 50px;
    font-family: Raleway;
    color: var(--gold);
    font-weight: 200;
}

p {
    color: white;
    font-size: 16pt;
    font-family: Raleway;
    font-weight: 300;
}

.contactImage {
    width:fit-content;
    margin-bottom: 10px;
    max-width: min(100%, 200px);
}

.contactPosition{
   font-size: 14px;
   line-height: 1.8em;
   text-align: center;
   font-family: Raleway;
   font-weight: 500;
   margin-bottom: 0;
}

.contactName {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Raleway;
    font-weight: 500;
}


/* Contact Form */
.contact-container {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px;
    margin: auto;
}

.contact-form-title {
    display: block;
    font-family: Raleway;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 50px;
}

 