
<div style="background-color:#ffd700">
    <div class="container-fluid" style="background-color:#FFD700; margin-bottom: 50px; padding: 10% 15%; width: 75%;">

        <div class="row">
                <h1> Academic Excellence </h1>
                <p> As a group of undergraduate students, our first priority is always to be great students. We provide resources to all our members to assist them in being the best students they can be. Additionally, our members span dozens of majors across the University so you’re sure to find someone in our chapter who’s taken the classes you’re taking and you can surely benefit from their help and guidance. </p>        
                <p> We also provide our members with educational opportunities including (but not limited to) Title IX seminars, alcohol education, sexual misconduct prevention, health and safety presentations, and leadership development training with some of the highest completion rates within the IFC.</p>
                <p>See&nbsp;
                    <span style="text-decoration:underline">
                        <a href="https://sites.udel.edu/fsll/project/alpha-epsilon-pi/" target="_blank" rel="noopener">AEPi's FSLL page</a>
                    </span>
                &nbsp;for more information about our academic performance.</p>
        </div>

    </div>
</div>
