<div class="container-fluid header"></div>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline timeline-centered">
                <li *ngFor="let item of data" [class]="item.period == true ? 'timeline-item period' : 'timeline-item'">
                    <div class="timeline-info"> 
                        <span *ngIf="item.period == false">{{item.year}}</span>
                    </div>
                    <div class="timeline-marker"> </div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">{{item.title}}</h2>
                        <p *ngIf="item.period == false">{{item.content}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

