.header {
    background: var(--light-blue); 
    background: -webkit-linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../assets/720_cropped2.jpg"); 
    background: linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../assets/alumn_all.JPG"); 
  }