<div style="padding-bottom: 10%;">
    <div class="container-fluid" style="background-color:#1663be;" [style.padding] = "isMobile == true ? '10%' : '5% 30%'">

        <h1> Contact Information </h1>

        <div class="row">

            <div *ngFor="let member of contacts" class="col" align="center">
                <img class="contactImage" src="https://drive.google.com/uc?export=view&id={{member.image}}">
                <p class="contactName">{{member.name}}</p>
                <p class="contactPosition">{{member.position}}</p>   
                <p class="contactPosition">{{member.phone}}</p>    
            </div>

        </div>
        
    </div>
    
    <!-- <h3> Email Us: aepirhodeuteron@gmail.com </h3> -->

    <div class="wrap-contact2" [style.width]="isMobile == true ? '100%' : '790px'">
        <form class="contact2-form validate-form">
        
            <span class="contact2-form-title"> Email Us </span>
            
            <app-custom-input class=""  [type]="'name'"></app-custom-input>

            <app-custom-input class=""  [type]="'email'"> </app-custom-input>

            <div class='wrap-input2'>
                <textarea class="input2" type="text"></textarea>
                <span class="focus-input2" data-placeholder="MESSAGE"></span>
            </div>
        

            <div class="wrap-btn">
                <div class="bgbtn"></div>
                <button class="btn1">Submit</button>
            </div>

        </form>
    </div>

</div>