<div class="container-fluid header"></div>

<div class="container-fluid brotherhood" style="">

    <div class="row" style="margin-bottom: 5%;">
        <div class="col-12" align="center">
            <h1> BROTHERHOOD </h1>
            <p>{{blurb}}</p>
            <!--<div *ngFor="let event of events"> <p class="event">{{event}}</p> </div>-->
        </div>
    </div>

</div>


<div class="container-fluid">    
    
    <div class="row" align="center">
        <div *ngFor="let event of eventImages" class="col-12 col-md-6 col-xl-4 imagecontainer">
            <img class="eventImage" src="{{event.imageLink}}">
            <div class="overlay">
                <div class="text">{{event.event}}</div>
                <div class="innerText">{{event.description}}</div>
            </div>
        </div>
    </div>

</div>
