h1 {
    color: yellow;
    font-size: 36pt;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: Oswald;
    font-weight: 200;
}

p {
    color: white;
    font-size: 14pt;
    font-family: Raleway;
    font-weight: 300;
}

p.event{
    margin: 0;
}


.imagecontainer {
    position: relative;
    width: 30%;
    margin: 1.5%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000bb;
  }
  
  .imagecontainer:hover .overlay {
    opacity: 1;
  }

  .innerText {
    color: white;
    padding: 17% 10px 0;
    font-size: 12px;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }