<div class="container-fluid header"></div>

<div class="container-fluid brotherhood" style="">

    <div class="row" style="margin-bottom: 5%;">
        <div class="col-12" align="center">
            <h1> BROTHERHOOD </h1>
            <p>{{blurb}}</p>
            <!--<div *ngFor="let event of events"> <p class="event">{{event}}</p> </div>-->
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row" style="margin: 15px 0 30px;">
        <div *ngFor="let event of eventImages" class="col-12 col-md-6 col-lg-4" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{event.imageLink}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{event.event}}</h5>
                    <p class="card-text">{{event.description}}</p>
                </div>
            </div>
        </div>
        <div *ngFor="let event of files" class="col-12 col-md-6 col-lg-4 col-xl-3" style="margin-bottom: 30px;">
            <div class="card">
                <img class="card-img-top" src="{{event}}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<!--
<div class="container-fluid">    
    
    <div class="row" align="center">
        <div *ngFor="let event of eventImages" class="col-12 col-md-6 col-xl-4 imagecontainer">
            <img class="eventImage" src="{{event.imageLink}}">
            <div class="overlay">
                <div class="text">{{event.event}}</div>
                <div class="innerText">{{event.description}}</div>
            </div>
        </div>
    </div>

</div>
-->
