.input-container {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
}

input {
  outline: none;
  border: none;
}

.custom-input {
  display: block;
  width: 100%;
  font-family: var(--primary-font);
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 15;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--gold);
  background: -webkit-linear-gradient(20deg, var(--gold), var(--light-blue));
  background: -o-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: -moz-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: linear-gradient(45deg, var(--gold), var(--light-blue));
}

.focus-input.no-validate::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgb(236, 25, 25);
}


.focus-input::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: var(--primary-font);
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

input.custom-input {
  height: 45px;
}

input.custom-input + .focus-input::after {
  top: 16px;
  left: 0;
}

.custom-input:focus + .focus-input::after {
  top: -13px;
}

.custom-input:focus + .focus-input::before {
  width: 100%;
}

.has-val.custom-input + .focus-input::after {
  top: -13px;
}

.has-val.custom-input + .focus-input::before {
  width: 100%;
}


/* Additional Styles for TextArea */
textarea.custom-input {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

textarea.custom-input + .focus-input::after {
  top: 16px;
  left: 0;
}


/* Additional Styles for Button  */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.btn-container {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #2a6eff;
  background: -webkit-linear-gradient(20deg, var(--gold), var(--light-blue));
  background: -o-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: -moz-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: linear-gradient(45deg, var(--gold), var(--light-blue));
  top: 0;
  left: -100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.custom-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: -webkit-fill-available;
  height: 50px;
  font-family: var(--primary-font);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

}

.btn-container:hover .bgbtn {
  left: 0;
}