
<!-- Toolbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand" href="#" style="font-size: 18pt; margin-right: 30px">Alpha Epsilon Pi</a> 
  <!--   <img src="https://static.wixstatic.com/media/0d4090_9e61e2f81b744ebfaafd17183ed64809~mv2.png/v1/fill/w_69,h_83,al_c,q_85,usm_0.66_1.00_0.01/download.webp" alt="download.png" style="width:69px;height:83px;object-fit:cover;object-position:50% 50%"> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home" style="font-size: 14pt;" >Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" style="font-size: 14pt;" href="rush">Rush</a>
      <a class="nav-item nav-link" style="font-size: 14pt;" href="brotherhood">Brotherhood</a>
      <a class="nav-item nav-link" style="font-size: 14pt;" href="academic">Academic Excellence</a>
      <a class="nav-item nav-link" style="font-size: 14pt;" href="contact">Contact</a>
      <a class="nav-item nav-link" style="font-size: 14pt;" href="newsletter">AEPi Newsletter</a>
    </div>
  </div>
   
    <a aria-label="AEPi on Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/delawareaepi" title="Facebook" style="margin-horizontal: 10;">
      <img alt="Facebook" src="https://static.wixstatic.com/media/4057345bcf57474b96976284050c00df.png/v1/fill/w_30,h_30,al_c,q_85,usm_0.66_1.00_0.01/4057345bcf57474b96976284050c00df.webp" style="width: 30px; height: 30px; object-fit: cover;">
    </a>
    <a aria-label="AEPi on Insatgram" target="_blank" rel="noopener" href="https://www.instagram.com/ud_aepi/" title="Instagram">
      <img alt="Instagram" src="https://static.wixstatic.com/media/e1aa082f7c0747168d9cf43e77046142.png/v1/fill/w_30,h_30,al_c,q_85,usm_0.66_1.00_0.01/e1aa082f7c0747168d9cf43e77046142.webp" style="width: 30px; height: 30px; object-fit: cover;">
    </a>


</nav>


<div class="content" role="main">

  <router-outlet></router-outlet>

</div>

<!-- Footer -->
<footer style="margin-left: 20px;">
    <p>© 2021 by Delaware AEPi<p>
</footer>
