<div class="container-fluid header"></div>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline timeline-centered">
                <li *ngFor="let item of historyData" [class]="item.period == true ? 'timeline-item period' : 'timeline-item'">
                    <div class="timeline-info"> 
                        <span *ngIf="item.period == false">{{item.year}}</span>
                    </div>
                    <div class="timeline-marker"> </div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">{{item.title}}</h2>
                        <p *ngIf="item.period == false">{{item.content}}</p>
                    </div>
                </li>
            </ul>
            <button *ngIf="isAdmin" class="btn btn-primary admin-btn" (click)="newEvent()">Create New Event</button>
        </div>
    </div>
</div>

<div class="container-fluid composites" >
    <div class="row composites-inner">

        <h1 class='mb-5'> Class Composites </h1>

        <div *ngFor="let composite of files" class="col-12 col-md-6 col-lg-4 mb-4 px-4">
            <div class="card" (click)="openHistorianGallery(composite)">
                <img class="card-img-top" src="{{composite.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title composite-year">{{composite.year}}</h5>
                </div>
            </div>
        </div>

    </div>
</div>

