.header {
    background: var(--light-blue); 
    background: -webkit-linear-gradient(20deg, #000000aa 0%, #ffffffaa 70%), url("../../../assets/banners/group2122.jpg");
    background: linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../../assets/banners/group2122.jpg"); 
}

.content {
    background-color:var(--gold);
    padding: 7% 15%;
}

h1 {
    width: 100%;
    color: var(--dark-blue);
    font-size: 36pt;
    font-family: Oswald;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
}

p {
    color: black;
    font-size: 14pt;
    font-family: var(--primary-font);
    font-weight: 300;
}