
<div class="container-fluid header"></div>


<div class="container-fluid content-section">

    <div class="row">  
        <div *ngIf="!isMobile" class="col-4"></div>
        <div class="col">
            <h1 class="title"> RUSH </h1>
        </div>
    </div>

    <div class="row">
        <div *ngIf="!isMobile" class="col-4 img-container" align="center">
            <img [src]='rushCardImage'>
        </div>

        <div class="col" align="center">
            <div *ngIf="isAdmin">
            <p contentEditable (blur)="onBlur($event.target)" *ngFor="let line of rushBlurb | keyvalue" data-id={{line.key}}> {{line.value}} </p>
            <button class="btn btn-primary admin-btn" (click)="onAddParagraph()">Add Paragraph</button>
            <button class="btn btn-primary admin-btn" (click)="onRemoveParagraph()">Remove Last Paragraph</button>
            <button class="btn btn-primary admin-btn" (click)="onSaveChanges()">Save Changes</button>
            </div>

            <div *ngIf="!isAdmin">
                <p *ngFor="let line of rushBlurb | keyvalue" data-id={{line.key}}> {{line.value}} </p>
            </div>

            <p class="mt-2">
                <span>To learn more about Greek Life at UD, visit 
                    <span>
                        <a href="https://sites.udel.edu/fsll/" target="_blank" rel="noopener">this link</a>
                    </span>
                </span>
            </p>
            <p>
                <span>To learn more about IFC Rush, visit 
                    <span>
                        <a href="https://sites.udel.edu/fsll/recruitment/" target="_blank" rel="noopener">click here</a>
                    </span>
                </span>
            </p>
        </div>

    </div>

</div>


<div class="container-fluid contact-section">
    <span class="rush-form-title" [style.margin-top]="isMobile == true ? '30px' : '0'">
        Interested In Rushing Delaware AEPI?
    </span>


    <div class="row">
        <div class="col-lg-3">
            <app-custom-input [(inputModel)]="name" [type]="'name'"></app-custom-input>
        </div>

        <div class="col-lg-3">
            <app-custom-input [(inputModel)]="email" [type]="'email'" (validEmail)="isEmailValid($event)"></app-custom-input>
        </div> 

        <div class="col-lg-3">
            <app-custom-input [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
        </div> 

        <div class="col-lg-3 mb-4">
            <div class="btn-container">
                <div class="bgbtn"></div>
                <button class="custom-button" (click)="submitRushInterest()">Submit</button>
            </div>
        </div>

    </div>



    <!-- different layout for mobile 
    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="name" [type]="'name'"></app-custom-input>
    </div>
    
    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="email" [type]="'email'"></app-custom-input>
    </div>

    <div *ngIf="isMobile" class="row" style="justify-content: center;">
            <app-custom-input class="mobile" [(inputModel)]="phone" [type]="'phone'"></app-custom-input>
    </div>

    <div *ngIf="isMobile" class="row" style="justify-content: center; margin-bottom: 30px;">
        <div class="wrap-btn">
            <div class="bgbtn"></div>
            <button class="custom-button" (click)="submitRushInterest()">Submit</button>
        </div>
    </div>
    -->

    

</div>
