
.title,
.subtitle {
  font-family: var(--primary-font);
  color: white;
}

.header {
  background: var(--light-blue); 
  background: -webkit-linear-gradient(20deg, #D0A331ee 0%, #395998ee 70%), url("../../../assets/banners/pidown2122.jpg");
  background: linear-gradient(20deg, #D0A331ee 0%, #395998ee 70%), url("../../../assets/banners/pidown2122.jpg"); 
}


/* ABOUT US */
.about{
  padding: 2% 7% 3% 2%;
  background-color:var(--light-grey);
}

.about h1 {
  font-size:30pt;
  font-family: var(--primary-font);
  font-weight: 300;
}

.about-content {
  width: 75%;
}

.aboutImg {
  flex: 1;
  max-height: 350px;
  height: auto;
  max-width: -webkit-fill-available;
}

.btn {
  margin-right: 10px;
}

/* EBOARD */
.eboard{
  background-color:var(--dark-blue);
  padding: 0px 10% 3%;
}

.eboard h1{
  font-size:30pt;
  margin: 30px 15px 40px;
  font-family: var(--primary-font);
  font-weight: 300;
  color: white;
}

.boardImage {
  width:fit-content;
  max-width: 100%;
  margin-bottom: 10px;
  color: white;
}

.boardPosition{
  font-size: 12px;
  line-height: 1.8em;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 400;
  color: white;
}

.boardName {
  margin-bottom: 0;
  text-align: center;
  font-size: 15px;
  line-height: 1.6em;
  font-family: var(--primary-font);
  font-weight: 400;
  color: white;
}

/* Additional Pages Section */

.box {
  background: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  padding: 90px 15px 85px;
  position: relative;
  vertical-align: top;
  transition: all 0.4s ease;
}

.box:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 80px 15px 80px;
  transform: scale(1.1);
  z-index: 1;
}

.box.col-10 {
  margin-bottom: 80px;
}


.box h4 {
  color: white;
  font-family: var(--primary-font);
  font-weight: 300;
}

.box a {
  background-color: var(--gold);
  border-radius: 7px;
  bottom: 0;
  color: #262523;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  left: 50%;
  letter-spacing: 2px;
  min-width: 90px;
  padding: 18px 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, 50%);
}


/* UDANCE Section */
.udance{
  background-color: var(--gold);
}

.udance h1{
  font-size:20pt;
  font-family: var(--primary-font);
  font-weight: 300;
}

.udance a{
  font-size:20pt;
  font-family: var(--primary-font);
  font-weight: 300;
}

.udance a.large-font{
  font-size:30pt;
}