input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}



button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}



.contact2-form-title {
  display: block;
  font-family: Raleway;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}


.wrap-input2 {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
}

.input2 {
  display: block;
  width: 100%;
  
  font-family: Raleway;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 15;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--gold);
  background: -webkit-linear-gradient(20deg, var(--gold), var(--light-blue));
  background: -o-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: -moz-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: linear-gradient(45deg, var(--gold), var(--light-blue));
}

.focus-input2.no-validate::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgb(236, 25, 25);
}


.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Raleway;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}



/* [ Button ]  */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.wrap-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #2a6eff;
  background: -webkit-linear-gradient(20deg, var(--gold), var(--light-blue));
  background: -o-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: -moz-linear-gradient(45deg, var(--gold), var(--light-blue));
  background: linear-gradient(45deg, var(--gold), var(--light-blue));
  top: 0;
  left: -100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.btn1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: -webkit-fill-available;
  height: 50px;
  font-family: Raleway;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

}

.wrap-btn:hover .bgbtn {
  left: 0;
}