
<div *ngIf="loading" class="spinner" align="center">
  <div class="spinner-border" role="status"></div>
</div>

<div *ngIf="!loading" class="container-fluid composite">
    <!-- Board Row -->
    <div class="row justify-content-center">
        <div *ngFor="let number of [0,1,2,3,4,5,6,7]" class="col-3 col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
            <p class="position">{{brothers[number].board}}</p>
        </div>
    </div>

    <!-- Center Information Row 1  (2 each side, aepi, rhod, ud) -->
    <div class="row justify-content-center align-items-center">
        <div *ngFor="let number of [8,9]" class="col-2 col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>

        <div class="col-4 col-lg-6">
            <h1 class="title">Alpha Epsilon Pi</h1>
            <p class="rhod">Rho Deuteron</p>
            <h2 class="university">University of Delaware</h2>
        </div>

        <div *ngFor="let number of [10,11]" class="col-2 col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>
    </div>

    <!-- Center Information Row 2  (2 each side, year, cofa, year) -->
    <div class="row justify-content-center">
        <div *ngFor="let number of [12,13]" class="col-2 col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>

        <div class="col-4 col-lg-6">
            <div class="row justify-content-center align-items-center">
                <h2 class="year">{{getYear()}}</h2>
                <img class='cofa' src="assets/cofa.png">
                <h2 class="year">{{getYear() + 1}}</h2>
            </div>
        </div>

        <div *ngFor="let number of [14,15]" class="col-2 col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>
    </div>

    <!-- Rows of ten -->
    <div *ngFor="let in of counter(rows, 0); let i = index " class="row justify-content-center">
        <div *ngFor="let number of counter(10, 16+i*10);" class="col-5ths col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>
    </div>
 
    <!-- Remaining Brothers -->
    <div class="row justify-content-center">
        <div *ngFor="let number of counter(count-16-10*rows, 16+10*rows)" class="col-5ths col-lg-1" align="center">
            <img (click)="open(number)" class="image rounded" src={{brothers[number].image}}>
            <p class="name">{{brothers[number].firstname}} {{brothers[number].lastname}}</p>
        </div>
    </div>
</div>