.header {
    background: var(--light-blue); 
    background: -webkit-linear-gradient(20deg, #000000aa 0%, #ffffffaa 70%), url("../../../assets/conclave.JPG");
    background: linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../../assets/conclave.JPG"); 
  }
  
  
  .image {
    width:-webkit-fill-available;
    margin-bottom: 10px;
    color: white;
  }
  
  h1.title{
    margin-bottom: 10px;
    font-family: oldenglish;
    font-size: 3.2vw;
    text-align: center; 
    color: var(--gold);
  }

  h2 {
    font-size: 2.2vw;
  }

  h2.year {
    text-align: center;
    color: var(--gold);
    margin: 0px;
    font-family: oldenglish;
    width: min-content;
  }
  
  p.rhod{
    font-family: oldenglish;
    font-size: 1.8vw;
    text-align: center;
    color: var(--gold);
    font-style: italic;
    margin: 0px;
  }
  
  p.name {
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 1.6em;
    font-family: Raleway;
    font-weight: 400;
    color: white;
  }

  @media (max-width: 992px) {
    .col-5ths {
        width: 20%;
    }
}