
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

/* Font used in Composite (Active Brothers) */
@font-face {
  font-family: oldenglish;
  src: url(assets/font/OldEnglish.ttf) format("opentype");
}

:root {
  --light-blue: #5BADDE;
  --dark-blue: #2E4668;
  --gold: #D0A331;
  --grey: #A6B0BF;
  --light-grey:#f5f5f5f5;
  --primary-font: Raleway;
}

.header {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

@media (min-height: 900px) {
  .header {
    height: 360px;
  }
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}