<div class="container-fluid">

    <form>
        <div class="input-group mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" (change)="previewFile($event)">
        </div>
    </form>

    <div class="row">

        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">Overall progress</h2>

                <div class="progress mx-auto">
                    <span class="progress-left">
                        <span class="progress-bar border-primary" [style.transform]="'rotate(' + calcLeftDeg() + 'deg)'"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary" [style.transform]="'rotate(' + calcRightDeg() + 'deg)'"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">{{percentGoal}}<sup class="small">%</sup></div>
                    </div>
                </div>

                <!-- Demo info -->
                <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                        <div class="h4 font-weight-bold mb-0">${{udanceTotal}}</div><span class="small text-gray">Raised</span>
                    </div>
                    <div class="col-6">
                        <div class="h4 font-weight-bold mb-0">${{udanceGoal}}</div><span class="small text-gray">Goal</span>
                    </div>
                </div>
                <!-- END -->
                
            </div>
        </div>

    </div>

    <div class="row justify-content-center" style="margin: 20px 0;">
        <div *ngFor="let member of udanceTeam" class='col-md-4 col-lg-3' style="margin: 0px;" align="center">
            <h3>
                <a class="teammember" target="_blank" href="https://www.udancede.org/bpos_partpage.aspx?eventtag=ud2022&teamid={{udanceTeamID}}&partid={{member.pageid}}">{{member.name}} - ${{member.raised}}</a>
            </h3>
            <!--<div class="progress" style="width: 50%;">
                <div class="progress-bar" role="progressbar" [style.width.%]="member.raised/member.goal * 100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>-->
        </div>
    </div>
</div>