.header {
  background: var(--light-blue); 
  background: -webkit-linear-gradient(20deg, #000000aa 0%, #ffffffaa 70%), url("../../../assets/banners/conclave.JPG");
  background: linear-gradient(20deg, #0000004d 0%, #0000004d 70%), url("../../../assets/banners/conclave.JPG"); 
}

h1 {
    color: var(--gold);
    font-size: 36pt;
    margin-bottom: 5%;
    font-family: Oswald;
    font-weight: 200;
}

/* Brotherhood Banner Section */
.brotherhood-banner {
  background-color:var(--dark-blue); 
  margin-bottom: 30px;
  padding: 5% 15%
}

.brotherhood-banner p {
    color: white;
    font-size: 14pt;
    font-family: var(--primary-font);
    font-weight: 300;
}

/* Events Section */
.events-container {
  margin: 15px 0 30px;
}

.card {
  height: 100%;
}
  
.card-img-top {
  aspect-ratio: 1.5;
}
