<div class="container-fluid header"></div>

<div class="container-fluid brotherhood-banner">

    <div class="row mb-5" >
        <div class="col-12" align="center">
            <h1> BROTHERHOOD </h1>
            <div *ngIf="isAdmin">
                <p contentEditable (blur)="onBlur($event.target)">{{blurb}}</p>
                <button class="btn btn-primary" (click)="onSaveChanges()">Save Changes</button>
            </div>

            <div *ngIf="!isAdmin">
                <p>{{blurb}}</p>
            </div>

            <!--<div *ngFor="let event of events"> <p class="event">{{event}}</p> </div>-->
        </div>
    </div>

</div>

<div class="container-fluid events-section">
    <div class="row events-container">
        <div *ngFor="let event of eventImages" class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{event.imageLink}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{event.event}}</h5>
                    <p class="card-text">{{event.description}}</p>
                </div>
            </div>
        </div>

        <h1 class="mb-4"> Gallery </h1>

        <div *ngFor="let event of files" class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{event}}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

